body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  width: 100%;
  overflow-x: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
  align-items: center;
}

nav {
  background-color: #555;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
}

header {
  background-color: #072273;
  color: white;
  text-align: center;
  padding: 10px;
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-around;
  align-items: center;
}

header h1 {
  justify-content: left;
  display: inline-flex;
}
header h3 {
  justify-content: flex-end;
  display: inline-flex;
}

.container {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 20%;
  background-color: #f4f4f4;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.sidebar ul {
  list-style-type: none;
}

.sidebar ul li {
  border: 1px solid;
  border-radius: 10px;
  line-height: 15px;
  margin-bottom: 5px;
  padding: 20px 30px;
}
.sidebar ul li span {
  width: 100%;
  display: inline-block;
  text-align: center;
  margin: 8px 0;
  font-size: 18px;
}

.main-content {
  flex: 3;
  background-color: #e0e0e0;
  display: inline-flex;
  flex-direction: column;
}

.main-content h2 {
  border-bottom: 1px solid;
  text-align: center;
  margin: 0;
  width: 100%;
  padding: 15px;
}
.incontent {
  text-align: left;
  height: 70%;
  display: inline-flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: nowrap;
  padding: 40px;
  overflow: scroll;
}
.endcontent {
  height: 30%;
  padding: 10px;
  text-align: right;
}
.endcontent button {
  padding: 10px;
  background: green;
  border: 0;
  color: white;
  font-size: 22px;
}

footer {
  display: flex;
  justify-content: space-around;
  background-color: #072273;
  color: white;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
  flex-direction: row;
  margin: 10;
  flex-wrap: nowrap;
  align-content: center;
}

.footer-section {
  width: 30%;
  border: 1px solid #555;
  text-align: center;
  padding: 13px 0;
}

.circle {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background: black;
  color: white;
  padding: 3px;
}
.wallet-top {
  border: 1px solid;
  line-height: 35px;
}
.bigwallet {
  display: inline-block;
  text-align: center;
  font-size: 40px;
  width: 100%;
}
.footer-section a {
  color: white;
  text-decoration: none;
  width: 100%;
  display: inline-block;
}
.footer-section .disabled {
  color: currentColor;
  cursor: not-allowed;
  opacity: 0.5;
  text-decoration: none;
}
